[mysqld]
server_id=1
log-bin=mysql-bin

# binlog_format在8.0.34已经标记为deprecated，默认就是row，详情请看：
# https://docs.oracle.com/cd/E17952_01/mysql-8.0-en/replication-options-binary-log.html#sysvar_binlog_format
# binlog_format=ROW

# airflow 需要 explicit_defaults_for_timestamp=1
# explicit_defaults_for_timestamp=1